@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
  margin:0;
  padding: 0;
  background-color: rgb(235, 237, 241);
  font-family: 'Nunito', sans-serif, Arial, Helvetica, sans-serif;
}

.form-wrapper{
  max-width: 370px;
  margin: 0 auto;
}

fieldset{
  border: 1px solid #c7c7c7;
  background-color: #fff;    
  padding: 30px;
}

